

.gradient {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-45deg, #e8e85a, #112cd9, #15e6bc, #e73c7e, #cc0e4e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    box-shadow: 0px 0px 20px black;
    padding: 10px;
    text-align: center;
}

body {
    margin: 2rem;
    background-color: #212123;
}

.head {
    color:whitesmoke;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.word1 {
    color:aqua;
    

}

.head2 {
    color:bisque;
}
