.bg-container {
    background-color: #212123;
    height:100vh;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: star;
    padding: 30px;
    background: linear-gradient(-45deg, #e8e85a, #112cd9, #15e6bc, #e73c7e, #cc0e4e, #23a6d5, #23d5ab);
}

body {
    margin: 2rem;
    background-color: #212123;
}

.head {
    color:whitesmoke;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.word1 {
    color:aqua;
    

}

.head2 {
    color:bisque;
}
